@font-face {
  font-family: 'icon-innovacion-pacifico';
  src:  url('https://cdn.staticaly.com/gh/gugadev/ps-fonts/16915575/icon-innovacion-pacifico.eot?2sn7ay');
  src:  url('https://cdn.staticaly.com/gh/gugadev/ps-fonts/16915575/icon-innovacion-pacifico.eot?2sn7ay#iefix') format('embedded-opentype'),
    url('https://cdn.staticaly.com/gh/gugadev/ps-fonts/16915575/icon-innovacion-pacifico.ttf?2sn7ay') format('truetype'),
    url('https://cdn.staticaly.com/gh/gugadev/ps-fonts/16915575/icon-innovacion-pacifico.woff?2sn7ay') format('woff'),
    url('https://cdn.staticaly.com/gh/gugadev/ps-fonts/16915575/icon-innovacion-pacifico.svg?2sn7ay#icon-innovacion-pacifico') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icon-innovacion-pacifico' !important;
  font-size: 18px;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: middle;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon--bold {
  font-weight: bold;
}

.icon-lens:before {
  content: "\e9c6";
}
.icon-circle-mail:before {
  content: "\e933";
}
.icon-edit-material:before {
  content: "\e9c7";
}
.icon-lab-tubes-circle:before {
  content: "\e9b5";
}
.icon-lab-tubes:before {
  content: "\e9b7";
}
.icon-delete-material:before {
  content: "\e9c4";
}
.icon-desktop-material:before {
  content: "\e9c5";
}
.icon-mobile-material:before {
  content: "\e9c3";
}
.icon-atm:before {
  content: "\e9c2";
}
.icon-idea:before {
  content: "\e9bd";
}
.icon-timer:before {
  content: "\e9be";
}
.icon-temp-life-55:before {
  content: "\e9b1";
}
.icon-temp-life-65:before {
  content: "\e9b2";
}
.icon-disability:before {
  content: "\e9b3";
}
.icon-serious-diseases:before {
  content: "\e9b4";
}
.icon-marker-workshop-preferent .path1:before {
  content: "\e9b6";
  color: rgb(0, 153, 204);
}
.icon-marker-workshop-preferent .path2:before {
  content: "\e9b8";
  margin-left: -1em;
  color: rgb(254, 254, 254);
}
.icon-civil-resp:before {
  content: "\e9ae";
}
.icon-wrench:before {
  content: "\e9af";
}
.icon-broken-glass:before {
  content: "\e9ad";
}
.icon-seat:before {
  content: "\e935";
}
.icon-engine:before {
  content: "\e936";
}
.icon-calendar:before {
  content: "\e934";
}
.icon-type-document:before {
  content: "\e93a";
}
.icon-search:before {
  content: "\e904";
}
.icon-pen:before {
  content: "\1f325";
}
.icon-star-selected:before {
  content: "\e939";
}
.icon-document-2:before {
  content: "\e938";
}
.icon-money:before {
  content: "\e937";
}
.icon-hand-card:before {
  content: "\e92e";
}
.icon-plate:before {
  content: "\e932";
}
.icon-marker:before {
  content: "\e92f";
}
.icon-remove:before {
  content: "\e92d";
}
.icon-alert-number:before {
  content: "\e929";
}
.icon-alert:before {
  content: "\e92a";
}
.icon-info:before {
  content: "\e95f";
}
.icon-camera:before {
  content: "\e94a";
}
.icon-check-selected:before {
  content: "\e94b";
}
.icon-check-unselected:before {
  content: "\e94c";
}
.icon-calendar-1:before {
  content: "\e94d";
}
.icon-celular:before {
  content: "\e94e";
}
.icon-star:before {
  content: "\e94f";
}
.icon-history:before {
  content: "\e950";
}
.icon-mail:before {
  content: "\e951";
}
.icon-payment:before {
  content: "\e952";
}
.icon-password:before {
  content: "\e953";
}
.icon-account:before {
  content: "\e954";
}
.icon-document:before {
  content: "\e956";
}
.icon-documents:before {
  content: "\e957";
}
.icon-gallery:before {
  content: "\e95e";
}
.icon-mail-open:before {
  content: "\e960";
}
.icon-mail-digital:before {
  content: "\e961";
}
.icon-mail-send:before {
  content: "\e962";
}
.icon-mail-info:before {
  content: "\e963";
}
.icon-mail-clock:before {
  content: "\e964";
}
.icon-mail_receive:before {
  content: "\e965";
}
.icon-mail-register:before {
  content: "\e966";
}
.icon-config:before {
  content: "\e967";
  /* color: #7b7b7b; */
}
.icon-contact:before {
  content: "\e968";
  /* color: #7b7b7b; */
}
.icon-nav-step:before {
  content: "\e970";
}
.icon-circle-active:before {
  content: "\e971";
}
.icon-logout:before {
  content: "\e969";
}
.icon-notifications:before {
  content: "\e96a";
}
.icon-circle-future:before {
  content: "\e972";
}
.icon-refunds:before {
  content: "\e96b";
}
.icon-download:before {
  content: "\e955";
}
.icon-accept:before {
  content: "\e92b";
}
.icon-state-approved:before {
  content: "\e958";
}
.icon-state-edit:before {
  content: "\e959";
}
.icon-state-returned:before {
  content: "\e95a";
}
.icon-state-inprocess:before {
  content: "\e95b";
}
.icon-state-sent:before {
  content: "\e95c";
}
.icon-state-reject:before {
  content: "\e95d";
}
.icon-zoomin:before {
  content: "\e930";
}
.icon-zoomout:before {
  content: "\e931";
}
.icon-add:before {
  content: "\e92c";
}
.icon-nav-times:before {
  content: "\e96d";
}
.icon-nav-menu:before {
  content: "\e96f";
}
.icon-nav-back:before {
  content: "\e96c";
}
.icon-nav-next:before {
  content: "\e915";
}
.icon-nav-top:before {
  content: "\e914";
}
.icon-nav-down:before {
  content: "\e96e";
}
.icon-my-data:before {
  content: "\e9bf";
}
.icon-map:before {
  content: "\e9bc";
}
.icon-benefits:before {
  content: "\e9ba";
}
.icon-investment:before {
  content: "\e9bb";
}
.icon-in-construction:before {
  content: "\e9b9";
}
.icon-lock:before {
  content: "\e9b0";
}
.icon-bill:before {
  content: "\e9ac";
}
.icon-hotel:before {
  content: "\e9a3";
}
.icon-tomb:before {
  content: "\e9a5";
}
.icon-clipboard:before {
  content: "\e9a6";
}
.icon-clock:before {
  content: "\e9a7";
}
.icon-luggage:before {
  content: "\e9a8";
}
.icon-masseuse:before {
  content: "\e9a9";
}
.icon-medical-briefcase:before {
  content: "\e9aa";
}
.icon-plane-ticket:before {
  content: "\e9ab";
}
.icon-car:before {
  content: "\e975";
}
.icon-car-2:before {
  content: "\e98a";
}
.icon-ambulance:before {
  content: "\e90f";
}
.icon-emergency:before {
  content: "\e905";
}
.icon-car-burning:before {
  content: "\e98b";
}
.icon-vehicle:before {
  content: "\e98c";
}
.icon-tank:before {
  content: "\e99e";
}
.icon-tow:before {
  content: "\e9a0";
}
.icon-boat:before {
  content: "\e989";
}
.icon-cogs:before {
  content: "\e98d";
}
.icon-maternity:before {
  content: "\e9a1";
}
.icon-confirm-outline:before {
  content: "\e98e";
}
.icon-confirm:before {
  content: "\e98f";
}
.icon-discount:before {
  content: "\e990";
}
.icon-drug:before {
  content: "\e991";
}
.icon-fire:before {
  content: "\e992";
}
.icon-handcuffs:before {
  content: "\e993";
}
.icon-hands-shaking:before {
  content: "\e994";
}
.icon-headset:before {
  content: "\e995";
}
.icon-health-policy:before {
  content: "\e996";
}
.icon-heart:before {
  content: "\e997";
}
.icon-leg-cast:before {
  content: "\e998";
}
.icon-mechanic:before {
  content: "\e999";
}
.icon-medicine-delivery:before {
  content: "\e99a";
}
.icon-mountains:before {
  content: "\e99b";
}
.icon-sad:before {
  content: "\e99c";
}
.icon-stop:before {
  content: "\e99d";
}
.icon-thief:before {
  content: "\e99f";
}
.icon-direction:before {
  content: "\e97f";
}
.icon-flags:before {
  content: "\e980";
}
.icon-keys:before {
  content: "\e981";
}
.icon-medal:before {
  content: "\e982";
}
.icon-home:before {
  content: "\e983";
  /* color: #7b7b7b; */
}
.icon-profile:before {
  content: "\e984";
  /* color: #7b7b7b; */
}
.icon-filter:before {
  content: "\e979";
}
.icon-odontology:before {
  content: "\e90e";
}
.icon-plane:before {
  content: "\e90d";
}
.icon-ophthalmology:before {
  content: "\e910";
}
.icon-oncology:before {
  content: "\e911";
}
.icon-others:before {
  content: "\e912";
}
.icon-phone:before {
  content: "\e976";
}
.icon-offline:before {
  content: "\e973";
}
.icon-warning:before {
  content: "\e974";
}
.icon-glossary:before {
  content: "\e921";
}
.icon-health:before {
  content: "\e922";
}
.icon-pre-existing:before {
  content: "\e913";
}
.icon-website:before {
  content: "\e923";
}
.icon-medical-check:before {
  content: "\e901";
}
.icon-ambulatory:before {
  content: "\e902";
}
.icon-clinic:before {
  content: "\e90c";
}
.icon-circle-vehicle:before {
  content: "\e920";
}
.icon-circle-percent:before {
  content: "\e9a2";
}
.icon-circle-confirm-outline:before {
  content: "\e987";
}
.icon-circle-car:before {
  content: "\e986";
}
.icon-circle-confirm:before {
  content: "\e988";
}
.icon-circle-calendar:before {
  content: "\e977";
}
.icon-circle-others:before {
  content: "\e978";
}
.icon-circle-glossary:before {
  content: "\e943";
}
.icon-circle-house:before {
  content: "\e97c";
}
.icon-circle-maternity:before {
  content: "\e97b";
}
.icon-no-money:before {
  content: "\e97d";
}
.icon-circle-tomb:before {
  content: "\e97e";
}
.icon-circle-callback:before {
  content: "\e985";
}
.icon-circle-map:before {
  content: "\e97a";
}
.icon-circle-warning:before {
  content: "\e90b";
}
.icon-circle-life:before {
  content: "\e916";
}
.icon-circle-notifications:before {
  content: "\e900";
}
.icon-circle-help:before {
  content: "\e903";
}
.icon-circle-sixty-percent:before {
  content: "\e906";
}
.icon-circle-health:before {
  content: "\e917";
}
.icon-circle-integral:before {
  content: "\e907";
}
.icon-circle-orientation:before {
  content: "\e908";
}
.icon-circle-bill:before {
  content: "\e909";
}
.icon-circle-return:before {
  content: "\e90a";
}
.icon-circle-delete:before {
  content: "\e918";
}
.icon-circle-spending:before {
  content: "\e919";
}
.icon-circle-laboratory:before {
  content: "\e91a";
}
.icon-circle-medicine:before {
  content: "\e91b";
}
.icon-circle-procedure:before {
  content: "\e91c";
}
.icon-circle-therapy:before {
  content: "\e91d";
}
.icon-circle-configuration:before {
  content: "\e91e";
}
.icon-circle-refund:before {
  content: "\e91f";
}
.icon-circle-kids:before {
  content: "\e924";
}
.icon-circle-signature:before {
  content: "\e925";
}
.icon-circle-stamp:before {
  content: "\e926";
}
.icon-circle-doc:before {
  content: "\e927";
}
.icon-circle-latin-america:before {
  content: "\e949";
}
.icon-circle-europe:before {
  content: "\e948";
}
.icon-circle-peru:before {
  content: "\e944";
}
.icon-circle-rest-of-the-world:before {
  content: "\e945";
}
.icon-circle-travel:before {
  content: "\e946";
}
.icon-circle-usa-canada:before {
  content: "\e947";
}
.icon-circle-ambulatory:before {
  content: "\e93b";
}
.icon-circle-plane:before {
  content: "\e93c";
}
.icon-circle-clinic:before {
  content: "\e93d";
}
.icon-circle-emergency:before {
  content: "\e93e";
}
.icon-circle-odontology:before {
  content: "\e93f";
}
.icon-circle-ophthalmology:before {
  content: "\e940";
}
.icon-circle-oncology:before {
  content: "\e941";
}
.icon-circle-medical-check:before {
  content: "\e942";
}
.icon-circle-phone:before {
  content: "\e928";
}
.icon-circle-sad:before {
  content: "\e9a4";
}
.icon-circle-timer:before {
  content: "\e9c0";
}
.icon-circle-idea:before {
  content: "\e9c1";
}